<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/angular.js")
        @Scripts.Render("~/Scripts/ng-table.js")
        @Scripts.Render("~/Scripts/angular-resource.js")
        @Scripts.Render("~/Scripts/custom/app.js")
        @Scripts.Render("~/Scripts/custom/modernizr.custom.79639.js")
        @Scripts.Render("~/Scripts/fabric.js")
        

    </head>
    <body>

        <div id="body" ng-app="myApp">
           
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

        @RenderSection("scripts", required: false)
    </body>
    <script type="text/javascript" >
        $(document).ready(function () {
            var d_canvas = document.getElementById('canvas');
            var context = d_canvas.getContext('2d');
            var background = document.getElementById('background');
            var ballon = document.getElementById('ballon');
            context.drawImage(background, 0, 0);

            $('#ballon').draggable({ containment: '#canvas' });

            $('#draw').click(function () {
                var $ballon = $('#ballon'),
                    $canvas = $('#canvas');
                var ballon_x = $ballon.offset().left - $canvas.offset().left,
                    ballon_y = $ballon.offset().top - $canvas.offset().top;

                context.drawImage(ballon, ballon_x, ballon_y);

                $ballon.hide();
                $(this).attr('disabled', 'disabled');
            });
        });
        ///
        /// This is for fabric.js
        /// http://fabricjs.com/fabric-intro-part-1/
        ///
        var canvas = new fabric.Canvas('c', { selection: false });
        var grid = 50;
        canvas.setBackgroundImage('/Images/anon.png');
        // create grid

        for (var i = 0; i < (600 / grid) ; i++) {
            canvas.add(new fabric.Line([i * grid, 0, i * grid, 600], { stroke: '#ccc', selectable: false }));
            canvas.add(new fabric.Line([0, i * grid, 600, i * grid], { stroke: '#ccc', selectable: false }));
        }

        // add objects

        canvas.add(new fabric.Rect({
            left: 100,
            top: 100,
            width: 50,
            height: 50,
            fill: '#faa',
            originX: 'left',
            originY: 'top',
            centeredRotation: true
        }));

        canvas.add(new fabric.Circle({
            left: 300,
            top: 300,
            radius: 50,
            fill: '#9f9',
            originX: 'left',
            originY: 'top',
            centeredRotation: true
        }));

        // snap to grid

        canvas.on('object:moving', function (options) {
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
        });
    </script>
</html>
