<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/angular.js")
        @Scripts.Render("~/Scripts/ng-table.js")
        @Scripts.Render("~/Scripts/angular-resource.js")
        @Scripts.Render("~/Scripts/custom/app.js")
        @Scripts.Render("~/Scripts/custom/modernizr.custom.79639.js")
        

    </head>
    <body>

        <div id="body" ng-app="myApp">
           
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
